<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>工作台</title>
	<link rel="stylesheet" type="text/css" href="./res/css/bootstrap.css">
	<link rel="stylesheet" href="https://rawgit.com/myphper/work/master/res/css/base.css">
	<link rel="stylesheet" href="https://rawgit.com/myphper/work/master/res/css/smartmenu.css">
	<link rel="stylesheet" href="https://rawgit.com/myphper/work/master/res/css/jqueryui.css">
	<link rel='shortcut icon' href="https://rawgit.com/myphper/work/master/res/img/favicon.ico" />
	<link rel='Bookmark' href="https://rawgit.com/myphper/work/master/res/img/favicon.ico" />
</head>
<!--Refused to execute script from 'https://raw.githubusercontent.com/myphper/work/master/res/lib/seajs/seajs/2.1.1/sea.js' because its MIME type ('text/plain') is not executable, and strict MIME type checking is enabled.-->
<!--use no MIME => https://rawgit.com/myphper/work/master/res/lib/seajs/seajs/2.1.1/sea.js'-->
<body ng-controller="MainCtrl">

	<div class="container">
		<div class="row">
			<div class="col-md-5 col-lg-5">
				<section id="todoapp">

					<header id="header">
						<h1 ng-bind="title[0]"></h1>
						<input id="new-todo" ng-model="newTodo" ng-keypress="createOnEnter($event)" placeholder="待办事项..." autofocus>
					</header>

					<section id="main">
						<input id="toggle-all" type="checkbox" ng-click="toggleAll($event)">
						<label for="toggle-all">
							Mark all as complete
						</label>
						<ul id="todo-list" ng-hide="hidden">
							<li ng-repeat="todo in getTodos() track by $index" ng-class='{completed: todo.completed, editing: todo.edit}'>
								<div class="view">
									<input class="toggle" type="checkbox" ng-model="todo.completed">
									<label ng-dblclick="edit(todo, $event)">
										<span ng-bind="todo.title"></span>
										<span class="ctime" ng-bind="todo.ctime"></span>
									</label>
									<button class="destroy" ng-click="todoService.delTodo($index)"></button>
								</div>
								<input ng-blur="close(todo)" class="edit" ng-model="todo.title">
							<li>
						</ul>
					</section>

					<footer id="footer">
						<span id="todo-count">
							<strong ng-bind="remaining"></strong>
							<span ng-bind-template="{{remaining < 1 ? '个' : '个'}} 待办"></span>
						</span>
						<ul id="filters">
							<li>
								<a ng-class="{selected: selected('')}" href="#/" ng-click="filter('')">全部</a>
							</li>
							<li>
								<a ng-class="{selected: selected(false)}" href="#/" ng-click="filter(false)">待办</a>
							</li>
							<li>
								<a ng-class="{selected: selected(true)}" href="#/" ng-click="filter(true)">已完成</a>
							</li>
						</ul>
						<button ng-show="completed" id="clear-completed" ng-click="todoService.clearCompleted()" ng-bind-template="清空已完成 ({{completed}})"></button>
					</footer>
				</section>
			</div>
			<div class="closeEditMode col-md-7 col-lg-7 dropdown">

				<section id="navsec">
					<header id="header2">
						<h1 ng-bind="title[1]"></h1>
					</header>
				</section>

				<nav class="navbar navbar-default" role="navigation" ng-repeat="linkgroup in allLinkGroups track by $index">
					<div class="navbar-header">
						<a class="navbar-brand groupName" href="javascript:void(0)" ng-right-click="showAddUrl(linkgroup)">{{linkgroup.groupName}}</a>
					</div>
					<div>
						<ul class="nav navbar-nav linksortable">
							<li ng-repeat="link in linkgroup.links track by $index">
								<a target="_blank" href="{{link.url}}">{{link.name}}</a>
								<button class="destroy" ng-click="delUrl(linkgroup,link)"></button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div id="newdia">
		<ul>
			<li>分组 : <input id="newgroup" ng-model="newgroup"  placeholder="" autofocus></li>
			<li>标题 : <input id="newtitle" ng-model="newtitle"  placeholder=""></li>
			<li>网址 : <input id="newurl" ng-model="newurl"  placeholder=""></li>
			<li>
				<input type="submit" class="btn btn-default" value="添加" ng-click="addUrl($index)">
				<input type="reset" class="btn btn-default" value="取消" ng-click="closeAddUrl()">
			</li>
		</ul>
	</div>

<script src="https://rawgit.com/myphper/work/master/res/lib/seajs/seajs/2.1.1/sea.js"></script>
<script>
	// Set configuration
	seajs.config({
		base: "https://rawgit.com/myphper/work/master/res/lib/",
		alias: {
			"$": "jquery/jquery/1.10.1/jquery.js",
			"bootstrap": "bootstrap/bootstrap/3.3.5/bootstrap.js",
			"store": "gallery/store/1.3.7/store",
			"angularjs": "angular/angularjs/1.1.5/angular.js",
			"tableExport": "jquery/tableexport/1.0.0/tableExport.js",
			"base64": "jquery/base64/1.0.0/base64.js",
			"smartmenu": "jquery/smartmenu/1.3.0/smartmenu.js",
			"jqueryui": "jquery/jqueryui/1.10.4/jqueryui.js"
		}
	});

	// For development
	if (1==1) {
		seajs.use(["https://rawgit.com/myphper/work/master/res/src/ctrl/main","$","bootstrap"], function(main) {
			main.init()
		});
	}
	// For production
	else {
		seajs.use(["examples/1.0.0/main","$","bootstrap"], function(main) {
			main.init()
		});
	}
</script>
<!-- <table id="customers" class="table table-striped" ><thead><tr class='warning'><th>测试</th><th>Population</th><th>Date</th><th>%ge</th></tr></thead><tbody><tr><td>乱码</td><td>1,363,480,000</td><td>March 24, 2014</td><td>19.1</td></tr><tr><td>India</td><td>1,241,900,000</td><td>March 24, 2014</td><td>17.4</td></tr><tr><td>United States</td><td>317,746,000</td><td>March 24, 2014</td><td>4.44</td></tr><tr><td>Indonesia</td><td>249,866,000</td><td>July 1, 2013</td><td>3.49</td></tr><tr><td>Brazil</td><td>201,032,714</td><td>July 1, 2013</td><td>2.81</td></tr></tbody></table>-->
</body>
</html>
